{% extends "base.html" %}
{% block title %}プライバシーポリシー{% endblock %}
{% block content %}
<h1>プライバシーポリシー</h1>

<div class="bg-light">
<p>
  MHF装備情報集約システム運営者（以下「運営者」）が提供するサービス「MHF装備情報集約システム」（以下「本サービス」）におけるプライバシー情報の取扱いについて，以下のとおりプライバシーポリシーを定めます。
</p>
</div>


<div class="bg-light">
<h2>個人情報保護方針</h2>
<p>
  運営者は、ユーザーへ提供するサービスの適切な範囲内に限り、ユーザーの個人情報を収集・利用いたします。
</p>
</div>

<div class="bg-light">
<h2>クッキー</h2>
<p>
本サービスには、「クッキー（Cookie）」を使用しており、利用目的は以下の通りです。
<ul>
  <li>ユーザー情報の保存</>
  <li>ログインの際のアカウント認証</li>
  <li>ソーシャルメディア機能の利用（Twitter）</li>
  <li>利用状況把握(AWStats)</li>
</ul>
クッキーを参照することによりユーザーのコンピュータを識別することができますが、クッキーだけでは個人を特定することはできません。
なお、ブラウザの設定により、クッキーの機能を無効にすることができますが、運営者が提供するサービスの全部または一部がご利用いただけなくなることがありますのでご了承ください。
</p>
</div>

<div class="bg-light">
<h2>アクセス解析</h2>
<p>
本サービスでは、アクセス動向を把握するため以下の統計ツールを利用しています。
<ul>
  <li>AWStats</li>
</ul>
統計ツールで取得するデータは、アクセス日時、IPアドレス、リンク元、ブラウザ、OSなどの情報が含まれますが、通常、個人を特定できる情報を含むものではありません。これらの情報は、本サービスの改善などの目的に利用させていただきます。
</p>
</div>

<div class="bg-light">
2018年12月4日　施行
</div>
{% endblock %}
