{% extends "base.html" %}
{% block title %}利用規約{% endblock %}
{% block content %}
<h1>利用規約</h1>

<div class="bg-light">
<h2>第一条 目的</h2>
<ol>
  <li value="1">
MHF装備情報集約システム運営者（以下「運営者」）が提供するサービス「MHF装備情報集約システム」（以下「本サービス」）において、運営者が提供するサービスの利用に関し、以下の通り利用規約（以下「本規約」）を定めるものとします。
  </li>
  <li value="2">
本サービスの定める手続きにより登録された個人（以下「ユーザー」）は、本規約に同意の上、本サービスを利用するものとみなします。
  </li>
  <li value="3">
本規約はユーザーが本サービス及び運営者が運営するサービスを利用する際、全ての行為に適用されます。
  </li>
</ol>
</div>

<div class="bg-light">
<h2>第二条 本利用規約の変更</h2>
<ol>
  <li value="1">
    運営者は、事前にユーザーに通知を行う事無く、本規約の追加、変更、削除等を行えます。
  </li>
  <li value="2">
    本規約の変更等が行われた後、ユーザーが本サービスを利用した場合、ユーザーは変更後の本規約に同意したものとみなします。
  </li>
</ol>
</div>

<div class="bg-light">
<h2>第三条 アカウント管理</h2>
<ol>
  <li value="1">
    ユーザーは、利用に際して登録した情報（以下、「登録情報」）について、自己の責任の下、任意に登録、管理するものとします。ユーザーは、これを第三者に利用させ、または貸与、譲渡、名義変更、売買などをしてはならないものとします。
  </li>
  <li value="2">
    運営者は、登録情報によって本サービスの利用があった場合、利用登録をおこなった本人が利用したものと扱うことができ、当該利用によって生じた結果ならびにそれに伴う一切の責任については、利用登録を行った本人に帰属するものとします。
  </li>
  <li value="3">
    運営者は、ユーザーが本規約に違反した、または違反する恐れがある場合、あらかじめユーザーに通知することなくアカウントを停止または削除することができます。
  </li>
  <li value="4">
    運営者は、最後にアクセスしてから一年以上経過しているアカウントを、あらかじめユーザーに通知することなくアカウントを停止または削除することができます。
  </li>
</ol>
</div>


<div class="bg-light">
<h2>第四条 個人情報の取り扱い</h2>
<ol>
  <li value="1">
    運営チームが取得した個人情報（氏名、メールアドレス、住所、電話番号、生年月日など個人を特定できるもの）は、運営チームが別途定める<a href="{% url 'user:policy' %}">個人情報保護方針</a>に従って取り扱われます。
  </li>
</ol>
</div>

<div class="bg-light">
<h2>第五条 著作権等知的財産権</h2>
<ol>
  <li value="1">
    本サービス内のプログラム、その他の知的財産権は運営者または、正当な権利者に帰属します。ユーザーは、当該情報を私用目的で利用される場合にかぎり使用できます。運営者に無断で、それを越えて使用（複製、送信、譲渡、二次利用等を含む）することは禁じます。
  </li>
  <li value="2">
    ユーザーが本サービスに投稿した各種データは、利用の許諾が明示されない限り、無断転載・無断利用することを禁じます。ただし、ユーザーは自身の投稿データについては自由に利用できます。
  </li>
  <li value="3">
    ユーザーが本サービスに各種データを投稿した時点で、ユーザーは運営者に対し、無償でその投稿データ（著作物）の利用を許諾したものと見なします。
  </li>
  <li value="4">
    ユーザーが本サービスに各種データを投稿した時点で、ユーザーは他のユーザーに対し、本サービスを介した場合に限り、無償でその投稿データ（著作物）の利用を許諾したものと見なします。
  </li>
</ol>
</div>

<div class="bg-light">
<h2>第六条 禁止事項</h2>
<ol>
  <li value="1">
    ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。
    <ol>
      <li value="1">
        法令または公序良俗に違反する行為
      </li>
      <li value="2">
        犯罪行為に関連する行為
      </li>
      <li value="3">
        本サービスのサーバーまたはネットワークの機能を破壊したり，妨害したりする行為
      </li>
      <li value="4">
        本サービスの運営を妨害するおそれのある行為
      </li>
      <li value="5">
        他のユーザーに関する個人情報等を収集または蓄積する行為
      </li>
      <li value="6">
        他のユーザーに成りすます行為
      </li>
      <li value="7">
        当社のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為
      </li>
      <li value="8">
        当社，本サービスの他のユーザーまたは第三者の知的財産権，肖像権，プライバシー，名誉その他の権利または利益を侵害する行為
      </li>
      <li value="9">
        過度に暴力的な表現，露骨な性的表現，人種，国籍，信条，性別，社会的身分，門地等による差別につながる表現，自殺，自傷行為，薬物乱用を誘引または助長する表現，その他反社会的な内容を含み他人に不快感を与える表現を，投稿または送信する行為
      </li>
      <li value="10">
        営業，宣伝，広告，勧誘，その他営利を目的とする行為（運営者の認めたものを除きます。），性行為やわいせつな行為を目的とする行為，面識のない異性との出会いや交際を目的とする行為，他のお客様に対する嫌がらせや誹謗中傷を目的とする行為，その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為
      </li>
      <li value="11">
        宗教活動または宗教団体への勧誘行為
      </li>
      <li value="12">
        その他，当社が不適切と判断する行為
      </li>
    </ol>
  </li>
  <li value="2">
    上記に違反した場合、運営者はユーザーに対し損害賠償請求をすることができることにユーザーは同意します。また、運営者は、上記違反に該当する投稿データを発見した場合、予告なしに当該投稿データの削除を行えるものとします。
  </li>
</ol>
</div>

<div class="bg-light">
<h2>第七条 免責</h2>
<ol>
  <li value="1">
    運営者は、本サービスの内容変更、中断、終了によって生じたいかなる損害についても、一切責任を負いません。
  </li>
  <li value="2">
    運営者は、本サービスがユーザーの特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性を有すること、および不具合が生じないことについて、何ら保証するものではありません。
  </li>
  <li value="3">
    運営者は、本サービスを利用したことにより直接的または間接的にユーザーに発生した損害について、一切賠償責任を負いません。
  </li>
  <li value="4">
    運営者は、ユーザーその他の第三者に発生した機会逸失、業務の中断その他いかなる損害（間接損害や逸失利益を含みます）に対して、運営者が係る損害の可能性を事前に通知されていたとしても、一切の責任を負いません。
  </li>
</ol>
</div>

<div class="bg-light">
<h2>第八条 契約解除</h2>
<ol>
  <li value="1">
    運営者は、ユーザーが本規約に反する行為をした場合、即時にサービスを停止することができます。
  </li>
</ol>
</div>

<div class="bg-light">
<h2>第九条 損害賠償</h2>
<ol>
  <li value="1">
    ユーザーが本規約に違反し運営者に損害が発生した場合、運営者は当該ユーザーに損害賠償することができます。
  </li>
</ol>
</div>

<div class="bg-light">
<h2>第十条 管轄裁判所</h2>
<ol>
  <li value="1">
    運営者とユーザー等との間での論議・訴訟その他一切の紛争については、訴額に応じて、東京簡易裁判所又は東京地方裁判所を専属的合意管轄裁判所とします｡
  </li>
</ol>
</div>

<div class="bg-light">
2018年12月4日　施行
</div>
{% endblock %}
